<template>
  <div class="animated fadeIn">
    <b-row>
      <b-col sm="12">
        <b-card>
          <div slot="header">
           New Transaction
          </div>
          <div style="margin-bottom: 20px;">
            <v-select v-model="selected"  :options="this.options"></v-select>
            <small :class="this.selectedClass">{{this.selectedHelp}}</small>
          </div>

          <b-form-group>
            <b-input-group>
              <b-input-group-prepend>
                <b-input-group-text><i class="fa fa-euro"></i></b-input-group-text>
              </b-input-group-prepend>
              <b-form-input type="text" v-model="amount" placeholder="ex. 1.000.000"></b-form-input>

            </b-input-group>
            <small :class="this.amountClass">{{this.amountHelp}}</small>

          </b-form-group>
          <div slot="footer">
            <b-button type="submit" size="sm" @click="click()" v-bind:disabled="this.disabledSubmit" variant="success"><i class="fa fa-dot-circle-o"></i> Send</b-button>
          </div>
        </b-card>
      </b-col>
    </b-row>




  </div>
</template>

<script>
  import vSelect from 'vue-select'
  import Vue from 'vue'
  import axios from 'axios'
  import BAlert from "bootstrap-vue/src/components/alert/alert";
  import BJumbotron from "bootstrap-vue/src/components/jumbotron/jumbotron";


  Vue.component('v-select', vSelect)

  export default {
    name: 'forms',
    components: {BJumbotron, BAlert},
    data () {
      return {
        selected: [], // Must be an array reference!
        show: true,
        options: [],
        amount: null,
        selectedHelp: '',
        selectedClass: 'form-text',
        amountHelp: '',
        amountClass: 'form-text',
        disabledSubmit: true
      }
    },
    mounted: function () {
      this.getUsers();
    },
    watch: {
      selected(newVal, oldVal) {
        this.checkForm();
      },
      amount(newVal, oldVal) {
        this.checkForm();
      }
    },
    methods: {
      checkForm() {
        axios.post('http://127.0.0.1:8000/api/transactions/check',
          {
            amount: this.amount,
            receiver_id: this.selected.value
          },
          {
            headers: { Authorization: `Bearer ${this.$store.state.jwt}` }
          }
        ).then(response => {
          this.amountHelp = '';
          this.amountClass = 'form-text';
          this.selectedHelp = '';
          this.selectedClass = 'form-text';
          this.disabledSubmit = false;
        }).catch(error => {
          this.amountHelp = '';
          this.amountClass = 'form-text';
          this.selectedHelp = '';
          this.selectedClass = 'form-text';
          if (error.response.data.errors) {
            let errors = error.response.data.errors;
            if (errors.amount) {
              this.amountHelp = errors.amount.join(', ');
              this.amountClass = 'form-text text-danger';
            }
            if (errors.receiver_id) {
              this.selectedHelp = errors.receiver_id.join(', ');
              this.selectedClass = 'form-text text-danger';
            }
          }

          this.disabledSubmit = true;
        })
      },
      click () {
        axios.post('http://127.0.0.1:8000/api/transactions/commit',
          {
            amount: this.amount,
            receiver_id: this.selected.value
          },
          {
            headers: { Authorization: `Bearer ${this.$store.state.jwt}` }
          }
        ).then(response => {
          alert('Success');
          this.$store.state.balance = response.data.balance;
        }).then(promise => {
          this.$router.push('/');
        })
      },
      getUsers() {
        axios.get('http://127.0.0.1:8000/api/users', {
          headers: { Authorization: `Bearer ${this.$store.state.jwt}` }
        }).then(response => {
          this.options = response.data.map(a => ({label: `${a.name} (${a.email})`, value: a.id}));
        })

      }
    }
}
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
