<template>
  <div class="animated fadeIn">

    <b-row>
      <b-col lg="12">
        <c-table :table-data="items" :fields="fields" :per-page="15" caption=" Transactions"></c-table>
      </b-col>
    </b-row><!--/.row-->

  </div>

</template>

<script>
import { shuffleArray } from '@/shared/utils'
import cTable from './Table.vue'
import axios from 'axios'

const someData = () => shuffleArray([
])

export default {
  name: 'tables',
  components: {cTable},
  data: () => {
    return {
      items: someData,
      itemsArray: someData(),
      fields: [
        {key: 'from_name', label: 'From User', sortable: true},
        {key: 'to_name',  label: 'To User', sortable: true},
        {key: 'amount', label: 'Amount', sortable: true},
        {key: 'operation', label: 'Operation', sortable: true},
        {key: 'created_at', label: 'Date', sortable: true},
        {key: 'balance', label: 'Balance After Operation', sortable: true},

      ],
    }
  },
  mounted: function () {
    axios.get('http://127.0.0.1:8000/api/users/transactions', {
      headers: { Authorization: `Bearer ${this.$store.state.jwt}` }
    }).then((response) => {
      if (response.data && response.data.length > 0) {
        this.items = response.data;
      }
    });
  }
}
</script>
