<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="8">
          <b-card-group>
            <b-card no-body class="p-4">
              <b-card-body>
                <b-form>
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <b-input-group class="mb-3">
                    <b-input-group-prepend><b-input-group-text><i class="icon-user"></i></b-input-group-text></b-input-group-prepend>
                    <b-form-input type="text" class="form-control" placeholder="email" v-model="email" autocomplete="email" />
                  </b-input-group>
                  <b-input-group class="mb-4">
                    <b-input-group-prepend><b-input-group-text><i class="icon-lock"></i></b-input-group-text></b-input-group-prepend>
                    <b-form-input type="password" class="form-control" placeholder="Password" v-model="password" autocomplete="current-password" />
                  </b-input-group>
                  <b-row>
                    <b-col cols="6">
                      <b-button variant="primary" @click="login()" class="px-4">Login</b-button>
                    </b-col>
                  </b-row>
                </b-form>
              </b-card-body>
            </b-card>
            <b-card no-body class="text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <b-card-body class="text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>Welcome to Test Bank</p>
                  <b-button variant="primary" @click="$router.push('/register')" class="active mt-3">Register Now!</b-button>
                </div>
              </b-card-body>
            </b-card>
          </b-card-group>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
  import VueAxios from 'vue-axios'


export default {
  name: 'Login',
  data: function () {
    return {
      email: '',
      password: ''
    }
  },
  methods: {
    login: function () {
      axios.post('http://127.0.0.1:8000/api/users/login', {
        email: this.email,
        password: this.password
      }).catch(error => {
        alert(error.response.data.error);
      }).then((response) => {
        if (response && response.data.token) {
          this.$store.state.jwt = response.data.token;

          axios.get('http://127.0.0.1:8000/api/users/me', {
            headers: { Authorization: `Bearer ${this.$store.state.jwt}` }
          }).then((response) => {
            if (response.data) {
              this.$store.state.balance = response.data.user.balance;
              this.$store.state.name = response.data.user.name;
            } else {
              this.$store.state.balance = 0;
              this.$store.state.name = '%Name%';
            }
          }).then(res => {
            localStorage.setItem('jwt', this.$store.state.jwt);
            this.$router.push('/');
          });

        }
      });
    }
  }
}
</script>
