<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="6" sm="8">
          <b-card no-body class="mx-4">
            <b-card-body class="p-4">
              <b-form>
                <h1>Register</h1>
                <p class="text-muted">Create your account</p>
                <b-input-group class="mb-3">
                  <b-input-group-prepend>
                    <b-input-group-text><i class="icon-user"></i></b-input-group-text>
                  </b-input-group-prepend>
                  <b-form-input type="text" class="form-control" placeholder="Username" style="display: block;" v-model="params.name" autocomplete="username" />
                  <small style="width: 100%;"  :class="this.small.name.class">{{this.small.name.value}}</small>

                </b-input-group>

                <b-input-group class="mb-3">
                  <b-input-group-prepend>
                    <b-input-group-text>@</b-input-group-text>
                  </b-input-group-prepend>
                  <b-form-input type="text" class="form-control" style="display: block" placeholder="Email" v-model="params.email" autocomplete="email" />
                  <small  style="width: 100%;" :class="this.small.email.class">{{this.small.email.value}}</small>

                </b-input-group>

                <b-input-group class="mb-3">
                  <b-input-group-prepend>
                    <b-input-group-text><i class="icon-lock"></i></b-input-group-text>
                  </b-input-group-prepend>
                  <b-form-input type="password" class="form-control" style="display: block" placeholder="Password" v-model="params.password" autocomplete="new-password" />
                  <small style="width: 100%;"  :class="this.small.password.class">{{this.small.password.value}}</small>
                </b-input-group>

                <b-input-group class="mb-4">
                  <b-input-group-prepend>
                    <b-input-group-text><i class="icon-lock"></i></b-input-group-text>
                  </b-input-group-prepend>
                  <b-form-input type="password" class="form-control" style="display: block" placeholder="Repeat password" v-model="params.password_confirmation" autocomplete="new-password" />
                  <small style="width: 100%;"  :class="this.small.password.class">{{this.small.password.value}}</small>
                </b-input-group>

                <b-button variant="success" @click="sendForm()" block>Create Account</b-button>
              </b-form>
            </b-card-body>
          </b-card>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
export default {
  name: 'Register',
  data () {
    return {
      params: {
        name: null,
        email: null,
        password: null,
        password_confirmation: null
      },
      small: {
        email: {
          class: 'form-text',
          value: '',
        },
        name: {
          class: 'form-text',
          value: '',
        },
        password: {
          class: 'form-text',
          value: '',
        },
      }
    }
  },
  methods: {
    sendForm() {
      console.log(this.params);
      Object.keys(this.small).map((objectKey, index) => {
        this.small[objectKey].class = 'form-tex';
        this.small[objectKey].value = '';
      });
      axios.post('http://127.0.0.1:8000/api/users/register', {
        email: this.params.email,
        password: this.params.password,
        password_confirmation: this.params.password_confirmation,
        name: this.params.name
      }).catch((error) => {
        if (error.response.data) {
          let errors = error.response.data;
          Object.keys(errors).map((objectKey, index) => {
            this.small[objectKey].class = 'form-text text-danger';
            this.small[objectKey].value = errors[objectKey].join(', ');
          });
        }
      }).
      then((response) => {
        if (response.data.token) {
          this.$store.state.jwt = response.data.token;
        }
        localStorage.setItem('jwt', this.$store.state.jwt);

      }).then(res => {
        this.$router.push('/');
      });
    }
  }
}
</script>
